html {
  position: relative;
}

body {
  margin-bottom: 120px;
  border-top: 3px solid #999;
}

.jumbotron {
  margin-bottom: 120px;
  background-image: url(../img/g.jpg);
  background-size: cover;
  background-position: 0 -90px;
  background-attachment: fixed;
}

.jumbotron img {
  width: 200px;
  margin-top: 80px;
  border: 5px solid gray;
}

.about .container h2 + hr {
  width: 200px;
  border-top: 3px solid #999;
}

.p1, .p2 {
  opacity: 0;
  transform: translate(-40px, 0);
  -webkit-transform: translate(-40px, 0);
  -moz-transform: translate(-40px, 0);
  -ms-transform: translate(-40px, 0);
  -o-transform: translate(-40px, 0);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.p2 {
  transform: translate(40px, 0);
  -webkit-transform: translate(40px, 0);
  -moz-transform: translate(40px, 0);
  -ms-transform: translate(40px, 0);
  -o-transform: translate(40px, 0);
}

.p1.pmuncul, .p2.pmuncul {
  opacity: 1;
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
}

section {
  min-height: 600px;
}

section.portfolio {
  background-color: rgb(236, 236, 236);
  padding-bottom: 30px;
}

.portfolio .thumbnail {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform-origin: right bottom;
  transform: rotate(-15deg);
  /*transform: translate(0, -40px);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  */:;
}

.portfolio .thumbnail.opamuncul {
  opacity: 1;
  transform: rotate(0);
  /*transform: translate(0, 0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  */:;
}

section.portfolio hr,
section.contact hr {
  width: 200px;
  border-top: 3px solid rgb(168, 168, 168);
}

section.contact {
  min-height: 800px;
}

section.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 120px;
  background-color: #444;
  box-sizing: border-box;
  padding-top: 40px;
}

section.footer p {
  color: white;
  font-size: 0.9em;
}

section.footer a {
  text-decoration: none;
  color: darkorange;
}

section.footer i {
  color: deeppink;
}
